/* CSS Document */
.test-img-base64{
	background: url(../images/iphone.png) no-repeat center center;
}
.test-img-base64-1{
	background-image: url(../images/Tulips.jpg);
	background-size: cover;
	background-position:center center;
}
.test-img-base64-2{
	background-image: url(../images/close_button.jpg);
	background-size: cover;
	background-position:center center;
}

#testless{
	width: 100px;
	height: 100px;
	-webkit-font-smoothing: none;
  	background: url("../images/icon/transport.png") no-repeat left center;
}
