/* CSS Document */
.test-img-base64{
	background: url(../images/icon-pdf.png) no-repeat center center;
}
.test-img-base64-1{
	background-image: url(../images/Tulips.jpg);
	background-size: cover;
	background-position:center center;
}
.test-img-base64-2{
	background-image: url(../images/arrow_red_down.gif);
	background-size: cover;
	background-position:center center;
}


